.banner-card-item {
  max-width: 1140px;
  width: 100%;
  text-align: center;
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 20px;
  list-style-type: none;
  padding: 10px;
  border-color: #326a9d;
  border: 1px solid #cbced2;
}

.card-1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-1-bg.png');
  background-size: cover;
}

.card-2 {
  display: flex;
  justify-content: flex-end;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-2-bg.png');
  background-size: cover;
}

.card-3 {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-3-bg.png');
  background-size: cover;
}

/* Write your code here. */
.heading {
  color: #326a9d;
  font-family: 'Roboto';
  font-weight: bold;
}

.description {
  color: #cbced2;
  font-family: 'Roboto';
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.btn {
  height: 40px;
  width: 100px;
  border-radius: 8px;
  border-color: #326a9d;
  color: #326a9d;
  padding: 5px;
  border: 2px solid;
  background-color: #ffffff;
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: bold;
}
